<h1>New News Post</h1>
<%# /#%>
<%# |f| is form builder /#%>
<%# form_for has a built in check for whether a news post content is new or equals existing one /#%>
<%# Stuff below has bee replaced when the partial was added /#%>

<%= render "form" %><%# Within same directory so can reference it directly/#%>

<%#Put the Form, including the input fields /#%>
<%#The form input gets sent to the action link (news_posts) and the method of news_posts is POST/#%>
