/* Layout styling */
body {
	margin:0;
	background:#000000;
}

//class: uses commmon width for many devices 960px standard
.container{
	width:960px;
	//boder:1px solid black;//"teaching purposes, see what's going on"
	//Trying to center the divs:
	margin:0 auto 0 auto; //top right bottom left of margins OR '0 auto'
}

/* Header Styling */
.header{
	background:#962C7E;
}

/* Navigation Styling */
.navigation{
	background:black;
	color:white;
}
.nav-link{
	display:inline-block;
	padding: 10px 15px;
	text-decoration:none;
	margin-right: 15px;
	color:white;
	&:hover{
	background:#962C7E;
	color:black;
	}
	&:visited{
	color:white;
	}
}


/* Content Styling */
.content{
	background:#ffffff;
	h1{
	margintop:0;//only apply this margintop to header 1's
	}
}

/* Footer Styling */
.footer{
	background:#000000;
	color:white;
}